* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  background-color: #222;
}

.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(136deg, #00feba, #5b548a);
  color: #fff;
  margin: 100px auto 0;
  padding: 40px 35px;
  text-align: center;
  border-radius: 20px;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: none;
  outline: none;
  flex: 1;
  background-color: #ebfffc;
  color: #555;
  padding: 10px 25px;
  margin-right: 16px;
  height: 60px;
  border-radius: 40px;
  font-size: 18px;
}

.search button {
  border: none;
  outline: none;
  background-color: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.search button img {
  background-size: contain;
  width: 16px;
}

.weather-icon {
  width: 170px;
  margin-top: 20px;
}

.weather h1 {
  font-size: 60px;
  font-weight: 500;
}

.weather h2 {
  font-size: 40px;
  font-weight: 400;
  margin-top: -10px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 40px;
  margin-right: 10px;
}

.humidity,
.wind {
  font-size: 28px;
  margin-top: -6px;
}

.weather {
  display: none;
}

.error {
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
  display: none;
}


@media only screen and (max-device-width: 465px) {
   .search{
  
    display:block;
   }

   .search button{
     margin: 20px;
   }


   
.humidity,
.wind {
  font-size: 20px;
  margin-top: -6px;
  
}

.col img {
  width: 40px;
  margin-right: 10px;
  margin-left: 20px;
}
}